<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="base :: header(~{::title})">
    <title>Программа учёта заявок АО "СЦФБ" : Администрирование</title>
</head>

<body class="bg-light">

<div class="container align-content-center text-center pt-5">
    <div class = "row">
        <div class = "col-8 offset-2 mb-3">
            <img src="assets/images/SCFB_logo.png" width="100" height="100">
            <h3 class="mb-3 pt-5 font-weight-normal align-content-center">ПРОГРАММА УЧЁТА ЗАЯВОК АО "СЦФБ"</h3>
            <p class="lead">Вы вошли как <b>
                <span th:text="${currentUserName}">_template_</span>,
                <span sec:authorize="hasRole('ROLE_ADMIN')">администратор</span>
                <span sec:authorize="hasRole('ROLE_USER')">пользователь</span>
                <span sec:authorize="hasRole('ROLE_CHIEF')">руководитель</span>
                <span sec:authorize="hasRole('ROLE_SUPPLIER')">менеджер по поставкам</span></b>. Вы можете:</p>
            <ul class="text-left">
                <li>смотреть все свои заявки
                <li>создавать новые заявки
                <li>редактирование свои заявки (только до отправки на утверждение)
                <li>отправлять свои заявки на утверждение
            </ul>
            <button class="btn btn-lg btn-success" type="submit" data-toggle="modal" data-target="#newOrder">Создать новую заявку</button>
        </div>
    </div>

    <!-- Modal New Order -->
    <div class="modal fade bd-example-modal-lg" id="newOrder" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
         aria-labelledby="newOrderTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newOrderTitle">Новая заявка</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&cross;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container" id="newOrderContainer">
                        <div class="row">
                            <div class="form-group col-8">
                                <input type="text" list="products" class="form-control" id="product1" placeholder="Название товара" required>
                                <div class="invalid-feedback">
                                    Введите название товара!
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <select class="form-control" id="uoc1">
                                    <option selected="selected">шт.</option>
                                    <option>кг</option>
                                    <option>л</option>
                                    <option>г</option>
                                    <option>м</option>
                                </select>
                            </div>
                            <div class="form-group col-2">
                                <input type="text" class="form-control" id="qty1" placeholder="" required>
                                <div class="invalid-feedback">
                                    Введите количество!
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" onclick="addRow();">Добавить строку</button>
                </div>
                <div class="form-group col-12">
                    <label for="comment"><b>Комментарии</b></label>
                    <input type="text" class="form-control" id="comment" placeholder="Добавьте комментарий">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Сохранить</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Отправить на утверждение</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of modal New Order -->

    <!-- Modal Order Details -->
    <div th:each="order : ${orders}" class="modal fade bd-example-modal-lg" th:id="'order' + ${order.id}" tabindex="-1" role="dialog" th:aria-labelledby="'Order #' + ${order.id}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'order' + ${order.id} + 'title'" th:text="'Заявка №' + ${order.id}">Заявка № ???</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&cross;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div th:each="orderLine : ${order.getOrderLines()}" class="container">
                        <div class="row">
                            <div class="form-group col-8">
                                <input type="text" list=products class="form-control" th:placeholder="${orderLine.getProduct().getProductName()}"
                                       th:id="'product' + ${orderLine.getId()}" required>
                                <div class="invalid-feedback">
                                    Введите название товара!
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <select class="form-control" th:id="'uoc' + ${orderLine.getId()}">
                                    <option selected="selected" th:text="${orderLine.getUoc()}">шт.</option>
                                    <option>кг</option>
                                    <option>л</option>
                                    <option>г</option>
                                    <option>м</option>
                                    <option>шт.</option>
                                </select>
                            </div>
                            <div class="form-group col-2">
                                <input type="text" class="form-control" th:placeholder="${orderLine.getAmount()}" th:id="'qty' + ${orderLine.getId()}" required>
                                <div class="invalid-feedback">
                                    Введите количество!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="comment"><b>События</b></label>
                    <div th:each="action : ${order.getActions()}">
                        <div th:if="${action.getIdMessage()}" class="text-left">
                            <span class="green" th:text="${#temporals.format(action.getTime(), 'dd-MM-yyyy HH:mm - ')}">01-01-2000</span>
                            <span class="grey" th:text="${action.getUser().getName()} + ' говорит: '"></span>
                            <span class="blue" th:text="${action.getMessage().getContent()}">...текст...</span>
                        </div>
                        <div th:unless="${action.getIdMessage()}" class="text-left">
                            <span class="grey" th:text="${#temporals.format(action.getTime(), 'dd-MM-yyyy HH:mm - ')}">01-01-2000</span>
                            <span class="grey" th:text="${action.getUser().getName()}"></span>
                            <span class="grey" th:if="${action.getState().getStateName() == 'CREATED'}" th:text="'создал(-а) этот заказ.'"></span>
                            <span class="grey" th:if="${action.getState().getStateName() == 'SAVED'}" th:text="'сохранил(-а) этот заказ.'"></span>
                            <span class="grey" th:if="${action.getState().getStateName() == 'SENT'}" th:text="'отправил(-а) этот заказ на утверждение.'"></span>
                            <span class="grey" th:if="${action.getState().getStateName() == 'APPROVED'}" th:text="'утвердил(-а) этот заказ.''"></span>
                            <span class="grey" th:if="${action.getState().getStateName() == 'EXECUTING'}" th:text="'приступил(-а) к выполнению этого заказа.'"></span>
                            <span class="grey" th:if="${action.getState().getStateName() == 'FINISHED'}" th:text="'пометил(-а) заказ как выполненный.'"></span>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="comment" placeholder="Добавьте комментарий">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Сохранить</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Отправить на утверждение</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of modal Order Details -->

    <div class="row">
        <table class="table table-hover table-sm"> <!-- table-striped -->
            <thead class ="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Наименование первого товара</th>
                <th scope="col">Всего товаров</th>
                <th scope="col">Отпр.</th>
                <th scope="col">Утв.</th>
                <th scope="col">Исп.</th>
                <th scope="col">Комм.</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}" th:id="${order.id}" data-toggle="modal" th:data-target="'#order' + ${order.id}">
                <td th:text="${order.id}">ID</td>
                <td th:text="${order.date}">01-01-2000</td>
                <td class="text-left" th:text="${order.firstProductName}">Название первого продукта</td>
                <td th:text="${order.orderLinesQty}">00</td>
                <td><span th:if="${order.getSent() == true}">&#9989;</span></td>
                <td><span th:if="${order.getApproved() == true}">&#9989;</span></td>
                <td><span th:if="${order.getExecuting() == true}">&#9989;</span></td>
                <td><span th:if="${order.getMessagesQty() != 0}" th:text="${order.messagesQty}" class="badge badge-light badge-pill">00</span></td>
            </tr>
        </table>
    </div>
    <div class="row" sec:authorize="isAuthenticated()">
        <div class = "col-8 offset-2 mb-3">
            <form action="/logout" th:action="@{/logout}" >
                <button type="submit" class="btn btn-lg btn-primary"
                        th:text="#{label.logout}">Logout</button>
            </form>
        </div>
    </div>
    <div th:replace="~{base :: footer}"></div>

</div>
<datalist id="products">
    <option th:each="product : ${products}" th:text="${product.getProductName()}"></option>
</datalist>
    <script language="JavaScript">
        function addRow() {
            $("#newOrderContainer").append(
            "<div class=\"row\"><div class=\"form-group col-8\"><input type=\"text\" list=\"products\" class=\"form-control\" " +
            "id=\"product1\" placeholder=\"Название товара\" required><div class=\"invalid-feedback\">Введите название товара!" +
            "</div></div><div class=\"form-group col-2\"><select class=\"form-control\" id=\"uoc1\"><option selected=\"selected\">" +
            "шт.</option><option>кг</option><option>л</option><option>г</option><option>м</option></select></div><div" +
            " class=\"form-group col-2\"><input type=\"text\" class=\"form-control\" id=\"qty1\" required><div" +
            " class=\"invalid-feedback\">Введите количество!</div></div></div>");
        }
    </script>
</body>
</html>