<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:fragment="header(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Программа учёта заявок АО Сибирский центр фармакологии и биотехнологии">
    <meta name="author" content="Stanislav Nemirovsky">
    <title th:replace="${title}">Программа учёта заявок АО "СЦФБ"</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/images/favicon-16x16.png}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/assets/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/assets/css/font-awesome.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/assets/css/styles.css}" />
</head>

<body>
    <footer th:fragment="footer" class="my-5 pt-5 text-muted text-center text-small">
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2019 NullSoft Ltd.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Руководство пользователя</a></li>
            <li class="list-inline-item"><a href="#">Техническая документация</a></li>
            <li class="list-inline-item"><a href="#">Поддержка разработчика</a></li>
        </ul>
        <script th:attr="src=@{/assets/js/jquery.min.js}"></script>
        <script th:attr="src=@{/assets/js/popper.min.js}"></script>
        <script th:attr="src=@{/assets/js/bootstrap.min.js}"></script>
        <script th:attr="src=@{/assets/js/holder.min.js}"></script>
        <script th:inline="javascript" th:attr="src=@{/assets/js/functions.js}"></script>
    </footer>
</body>

</html>